body{
    margin-left: 50px;
    min-height: 100vh;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration:none ;
    color: #000;
}

nav ul li a:hover{
    color:brown;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}